<div id="main" [ngStyle]="adDimension" [class.pointer]="variables.frameUrl">
    <link [href]="variables.fontLink" rel='stylesheet' id='link'>
    <div *ngFor="let frame of frames; let i = index" class="frameSize frame" id="frame{{frame}}">
        
        <div id="copyArea{{frame}}" class="copyarea" [class.center]="variables.frameVariables[i].headlineControl.vAlign=='center'">
            <div id="copytext{{frame}}" class="copy" [ngStyle]="headlineTextControl[i]" [innerHTML]="variables.frameVariables[i].headline" ></div>
        </div>
        
        <div id="cta{{frame}}" class="cta center" [appButtonHover]="variables.frameVariables[i].ctaControl.rollColor" [defaultCTABGColor]="variables.frameVariables[i].ctaControl.boxColor" 
            [class.noDisplay]="!variables.frameVariables[i].cta">
            {{variables.frameVariables[i].cta}}
        </div>
        <img id="image1_{{frame}}" class="frameSize" [src]="variables.frameVariables[i].image1">
        <img id="image2_{{frame}}" class="frameSize" [src]="variables.frameVariables[i].image2">
        <img id="bg{{frame}}" class="frameSize" [src]="variables.frameVariables[i].bgImage">
    </div>
</div>
