#main {
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    border: 1px solid gray;
}

.frameSize {
    position: absolute;
    left: 0px;
    top: 0px;
}

.pointer {cursor: pointer;}

.cta {
    position: absolute;
    font-size: 14px;
    font-family: "humanabold";
    color: #ffffff;
    height: 26px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 15px;
    white-space: nowrap;
}

.cta:hover {
    background-color: #612166;
}

.noDisplay { display: none;}

.copyarea, .copy {
    position: absolute;
}

.copy {width: 100%}

.center {

	align-content: center;
	align-items: center;
	flex-wrap: wrap;

	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
}

