@font-face { font-family: humana; src: url('FSHumana.woff'); } 
@font-face { font-family: humanabold; src: url('FSHumana-Bold.woff'); } 

#main {
    width: 298px;
    height: 248px;
    top: 0px;
    left: 0px;
    overflow: hidden;
    cursor: default;
    position: absolute;
    border: 1px solid gray;
    
}

.frameSize {
    position: absolute;
    width: 300px;
    height: 250px;
    left: 0px;
    top: 0px;
}

.frame {
    opacity: 0;
}

.copy {
    font-family: "humanabold";
}

.cta {
    display: none;
    position: absolute;
    left: 161px;
    top: 197px;
    font-size: 14px;
    font-family: "humanabold";
    background-color: #af0061;
    color: #ffffff;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 15px;
    height: 25px;
    text-align: center;
    white-space: nowrap;
}

/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cta {padding-top: 3px; height: 21px;}
}

.cta:hover {
    background-color: #612166;
}

.seperatebig {
    line-height: 2em;
    font-family: "humanabold"
}

.big {
    font-size: 116%;
    font-family: "humanabold";
    line-height: 1.2em;
}

.center {
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;

	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
}

#frame1, #bg1 {
    z-index: 1
}

#logo1, #overlay1 {
    z-index: 5
}

#cta1 {
    z-index: 6;
}

#copyArea1 {
    position: absolute;
    color: #003057;
    height: 100px;
    left: 0px;
    top: 142px;
    z-index: 5;
    width: 300px;
    font-size: 23px;
}

#copytext1 {
    position: absolute;
    width: 300px;
    text-align: center;
}


#frame2, #bg2 {
    z-index: 10
}

#logo2, #overlay2 {
    z-index: 15
}

#cta2 {
    z-index: 16;
}

#copyArea2 {
    position: absolute;
    color: #003057;
    height: 100px;
    left: 14px;
    top: 31px;
    z-index: 16;
    width: 292px;
    font-size: 23px;
    line-height: 1.2em;
    z-index: 16;
}

#copytext2 {
    position: absolute;
    width: 292px;
    text-align: center;
}


#frame3, #bg3 {
    z-index: 20
}

#logo3, #overlay3 {
    z-index: 25
}

#cta3 {
    z-index: 26;
}

#copyArea3 {
    position: absolute;
    color: #ffffff;
    height: 74px;
    left: 12px;
    top: 28px;
    z-index: 26;
    width: 210px;
    font-size: 23px;
    line-height: 1.2em;
}

#copytext3 {
    position: absolute;
    width: 210px;
    text-align: center;
}


#frame4, #bg4 {
    z-index: 30
}

#logo4, #overlay4 {
    z-index: 35
}

#cta4 {
    z-index: 36;
}

#copyArea4 {
    position: absolute;
    color: #ffffff;
    height: 74px;
    left: 5px;
    top: 29px;
    z-index: 36;
    width: 210px;
    font-size: 22px;
    line-height: 1em;
    line-height: 1.55em;
}

#copytext4 {
    position: absolute;
    width: 210px;
    text-align: center;
}


#frame5, #bg5 {
    z-index: 40
}

#logo5, #overlay5 {
    z-index: 45
}

#cta5 {
    z-index: 46;
}

#copyArea5 {
    position: absolute;
    color: #003057;
    height: 100px;
    left: 0px;
    top: 38px;
    z-index: 16;
    width: 300px;
    font-size: 23px;
    line-height: 1.2em;
    z-index: 46;
}

#copytext5 {
    position: absolute;
    width: 300px;
    text-align: center;
}


#frame6, #bg6 {
    z-index: 50
}

#logo6, #overlay6 {
    z-index: 55
}

#cta6 {
    z-index: 56;
}

#copyArea6 {
    position: absolute;
    color: #003057;
    height: 100px;
    left: 0px;
    top: 38px;
    z-index: 16;
    width: 300px;
    font-size: 23px;
    line-height: 1.1em;
    z-index: 56;
}

#copytext6 {
    position: absolute;
    width: 300px;
    text-align: center;
}


#frame7, #bg7 {
    z-index: 60
}

#logo7, #overlay7 {
    z-index: 65
}

#cta7 {
    z-index: 66;
}

#copyArea7 {
    position: absolute;
    color: #003057;
    height: 100px;
    left: 0px;
    top: 38px;
    z-index: 16;
    width: 300px;
    font-size: 23px;
    line-height: 1.2em;
    z-index: 66;
}

#copytext7 {
    position: absolute;
    width: 300px;
    text-align: center;
}








