<div id="adarea" [ngStyle]="adDimension">
  <app-ad [changeTriggered]="change" [variables] = "variable"></app-ad>
</div>
<div id="footer">
  <div id="namearea">Project Name<br><input type="text" class="footerContent" id="projectname" [(ngModel)] = "variable.name"></div>
  <div id="frameCountArea">
    Number of Frames<br> 
    <input type="number" appNumberOnly id="frameNumber" class="footerContent" [(ngModel)] = "frameCount" (ngModelChange)=frameCountChange()><br>
    <span class="alert" id="frame1Alert">{{frameCountAlert}}</span>
  </div>
  <div class="linkarea">
    Banner Link <input type="text" [(ngModel)] = "variable.frameUrl"><br>
    CTA Link &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" [(ngModel)] = "variable.ctaURL">
  </div>
  <div id="dimeansion">Banner Width&nbsp; <input type="number" appNumberOnly [(ngModel)]="variable.width"><br> Banner Height <input type="number" appNumberOnly [(ngModel)]="variable.height"></div>
</div>
<div id="config">
  <div id="tabarea">
      <span class="tab" [class.activetab]="activeTab == 1" (click) = "chanegActive(1)">Headlines</span>
      <span class="tab" [class.activetab]="activeTab == 2" (click) = "chanegActive(2)" >Images</span>
      <span class="tab" [class.activetab]="activeTab == 3" (click) = "chanegActive(3)" >CTA</span>
      <span class="tab" [class.activetab]="activeTab == 4" (click) = "chanegActive(4)" >Animation</span>
      <span class="tab" [class.activetab]="activeTab == 5" (click) = "chanegActive(5)" >Font</span>
      <br>
      <button (click)="replay()">Replay</button>
      <button (click) = 'export()'>Export</button>
  </div>

  <div id="headlineContent" class="contentarea" [class.noDisplay]="activeTab != 1">
    <div *ngFor="let frame of frameList; let i = index" class="framecontent">
      <p class="heading">Frame {{frame}} Healine Contents</p>
      Frame{{frame}} Headline 
      <input type="text" class="headline" [(ngModel)]="variable.frameVariables[i].headline"><br>
      Width: <input type="number" appNumberOnly class="width"  [(ngModel)]="variable.frameVariables[i].headlineControl.width"> 
      Horizental Align <select [(ngModel)]="variable.frameVariables[i].headlineControl.hAlign">
        <option value="left">Left</option><option value="center">Center</option><option value="right">Right</option>
      </select><br>
      Height: <input type="number" appNumberOnly class="height" [(ngModel)]="variable.frameVariables[i].headlineControl.height"> 
      Vertical Align <select [(ngModel)]="variable.frameVariables[i].headlineControl.vAlign"> 
        <option value="top">Top</option><option value="center">Center</option><option value="bottom">Bottom</option>
      </select><br> 
      x: <input type="number" appNumberOnly class="x" [(ngModel)]="variable.frameVariables[i].headlineControl.x"> 
      y: <input type="number" appNumberOnly class="y" [(ngModel)]="variable.frameVariables[i].headlineControl.y"> 
      Font: <input type="number" appNumberOnly class="font" [(ngModel)]="variable.frameVariables[i].headlineControl.fontSize"><br>
      Text Color: <input type="color" [(ngModel)]="variable.frameVariables[i].headlineControl.color">
    </div>
  </div>

  <div id="imageContent" class="contentarea" [class.noDisplay]="activeTab != 2">
    <div *ngFor="let frame of frameList; let i = index" class="framecontent">Frame {{frame}} Images
      <label for="f{{frame}}bginput"><div class="imagearea">
        <div class="imageinfo">Background Image<br><span class="imageDescription">Click to Upload Image</span></div>
        <img alt="No image selected yet" class="uploadeimage" id="bg{{frame}}Preview" [src]="variable.frameVariables[i].bgImage">
        <input type="file" class="fileinput" id="f{{frame}}bginput" accept=".jpg, .jpeg, .png" (change)="fileSeleced($event, 'bgImage', frame)">
      </div></label>
      <label for="f{{frame}}image1input"><div class="imagearea">
        <div class="imageinfo">Image 1<br><span class="imageDescription">Click to Upload Image</span></div>
        <img alt="No image selected yet" class="uploadeimage" id="image1{{frame}}Preview" [src]="variable.frameVariables[i].image1">
        <input type="file" class="fileinput" id="f{{frame}}image1input" accept=".jpg, .jpeg, .png" (change)="fileSeleced($event, 'image1', frame)">
      </div></label>
      <label for="f{{frame}}image2input"><div class="imagearea">
        <div class="imageinfo">Image 2<br><span class="imageDescription">Click to Upload Image</span></div>
        <img alt="No image selected yet" class="uploadeimage" id="image2{{frame}}Preview" [src]="variable.frameVariables[i].image2">
        <input type="file" class="fileinput" id="f{{frame}}image2input" accept=".jpg, .jpeg, .png" (change)="fileSeleced($event, 'image2', frame)">
      </div></label>
    </div>
  </div>

  <div id="ctaContent" class="contentarea" [class.noDisplay]="activeTab != 3">
    <div *ngFor="let frame of frameList; let i = index" class="framecontent">Frame {{frame}} CTA Content<br>
      <span class="name" >Frame {{frame}} CTA text</span><br>
      <input type="text" class="headline" [(ngModel)]="variable.frameVariables[i].cta"><br>
      CTA Text Color: <input type="color" [(ngModel)]="variable.frameVariables[i].ctaControl.textColor"><br> CTA Background Color: <input type="color" [(ngModel)]="variable.frameVariables[i].ctaControl.boxColor"><br>
      CTA Roll Color: <input type="color" [(ngModel)]="variable.frameVariables[i].ctaControl.rollColor"><br>
      x: <input type="number" appNumberOnly class="x" [(ngModel)]="variable.frameVariables[i].ctaControl.x">
      y: <input type="number" class="y" [(ngModel)]="variable.frameVariables[i].ctaControl.y">
    </div>
  </div>

  <div id="timeContent" class="contentarea"  [class.noDisplay]="activeTab != 4">
    <div *ngFor="let frame of frameList; let i = index" class="framecontent">
      Animation and Timing for frame {{frame}}
      <p>Frame Idle Duration: <input type="number" appNumberOnly [(ngModel)]="variable.frameDelays[i]"></p>
      
      <p class="timeParagraph">Headline In Animation 
        <select class="animationInput" [(ngModel)]="variable.frameVariables[i].animation.headline.inType" name="headlineIn">
          <option value="fade">Fade</option><option value="left">Left</option><option value="right">Right</option>
          <option value="top">Top</option><option value="bottom">Bottom</option><option value="pop">Pop</option><option value="grow">Grow</option>
          <option value="drop">Drop</option><option value="none">None</option>
      </select> 
      delay: <input type="number" class="delayInput" [(ngModel)]="variable.frameVariables[i].animation.headline.inDelay"></p>
      
      <p class="timeParagraph">Headline Out Animation 
        <select class="animationInput" [(ngModel)]="variable.frameVariables[i].animation.headline.outType">
          <option value="fade">Fade</option><option value="left">Left</option><option value="right">Right</option>
          <option value="top">Top</option><option value="bottom">Bottom</option><option value="pop">Pop</option><option value="none">None</option>
          <option value="grow">Grow</option><option value="drop">Drop</option>
      </select> 
      delay: <input type="number" class="delayInput" [(ngModel)]="variable.frameVariables[i].animation.headline.outDelay"></p>

      <p class="timeParagraph">Background In Animation 
        <select class="animationInput" [(ngModel)]="variable.frameVariables[i].animation.bg.inType">
          <option value="fade">Fade</option><option value="left">Left</option><option value="right">Right</option>
          <option value="top">Top</option><option value="bottom">Bottom</option><option value="pop">Pop</option><option value="none">None</option>
      </select> 
      delay: <input type="number" class="delayInput" [(ngModel)]="variable.frameVariables[i].animation.bg.inDelay"></p>
      
      <p class="timeParagraph">Background Out Animation 
        <select class="animationInput" [(ngModel)]="variable.frameVariables[i].animation.bg.outType">
          <option value="fade">Fade</option><option value="left">Left</option><option value="right">Right</option>
          <option value="top">Top</option><option value="bottom">Bottom</option><option value="pop">Pop</option><option value="none">None</option>
      </select> 
      delay: <input type="number" class="delayInput" [(ngModel)]="variable.frameVariables[i].animation.bg.outDelay"></p>

      <p class="timeParagraph">Image1 In Animation 
        <select class="animationInput" [(ngModel)]="variable.frameVariables[i].animation.image1.inType">
          <option value="fade">Fade</option><option value="left">Left</option><option value="right">Right</option>
          <option value="top">Top</option><option value="bottom">Bottom</option><option value="pop">Pop</option><option value="grow">Grow</option>
          <option value="drop">Drop</option><option value="none">None</option>
      </select> 
      delay: <input type="number" class="delayInput" [(ngModel)]="variable.frameVariables[i].animation.image1.inDelay"></p>
      
      <p class="timeParagraph">Image1 Out Animation 
          <select class="animationInput" [(ngModel)]="variable.frameVariables[i].animation.image1.outType">
          <option value="fade">Fade</option><option value="left">Left</option><option value="right">Right</option>
          <option value="top">Top</option><option value="bottom">Bottom</option><option value="pop">Pop</option><option value="none">None</option>
          <option value="grow">Grow</option><option value="drop">Drop</option>
      </select> 
      delay: <input type="number" class="delayInput" [(ngModel)]="variable.frameVariables[i].animation.image1.outDelay"></p>
      
      <p class="timeParagraph">Image2 In Animation 
        <select class="animationInput" [(ngModel)]="variable.frameVariables[i].animation.image2.inType">
          <option value="fade">Fade</option><option value="left">Left</option><option value="right">Right</option>
          <option value="top">Top</option><option value="bottom">Bottom</option><option value="pop">Pop</option><option value="none">None</option>
          <option value="grow">Grow</option><option value="drop">Drop</option>
      </select> 
      delay: <input type="number" class="delayInput" [(ngModel)]="variable.frameVariables[i].animation.image2.inDelay"></p>

      <p class="timeParagraph">Image2 Out Animation 
        <select class="animationInput" [(ngModel)]="variable.frameVariables[i].animation.image2.outType">
          <option value="fade">Fade</option><option value="left">Left</option><option value="right">Right</option>
          <option value="top">Top</option><option value="bottom">Bottom</option><option value="pop">Pop</option><option value="none">None</option>
          <option value="grow">Grow</option><option value="drop">Drop</option>
      </select> 
      delay: <input type="number" class="delayInput" [(ngModel)]="variable.frameVariables[i].animation.image2.outDelay"></p>
    
      <p class="timeParagraph">CTA In Animation 
        <select class="animationInput" [(ngModel)]="variable.frameVariables[i].animation.cta.inType">
          <option value="fade">Fade</option><option value="left">Left</option><option value="right">Right</option>
          <option value="top">Top</option><option value="bottom">Bottom</option><option value="pop">Pop</option><option value="grow">Grow</option>
          <option value="drop">Drop</option><option value="none">None</option>
      </select> 
      delay: <input type="number" class="delayInput" [(ngModel)]="variable.frameVariables[i].animation.cta.inDelay"></p>
      
      <p class="timeParagraph">CTA Out Animation 
        <select class="animationInput" [(ngModel)]="variable.frameVariables[i].animation.cta.outType">
          <option value="fade">Fade</option><option value="left">Left</option><option value="right">Right</option>
          <option value="top">Top</option><option value="bottom">Bottom</option><option value="pop">Pop</option><option value="none">None</option>
          <option value="grow">Grow</option><option value="drop">Drop</option>
      </select> 
      delay: <input type="number" class="delayInput" [(ngModel)]="variable.frameVariables[i].animation.cta.outDelay"></p>
    </div>
  </div>
  <div id="fontContent" class="contentarea"  [class.noDisplay]="activeTab != 5">
    <span class="name" >Font Name</span><br>
    <input type="text" class="headline" [(ngModel)]="variable.fontName"><br>
    <span class="name" >Font URL</span><br>
    <input type="text" class="headline" [(ngModel)]="variable.fontLink"><br>
    <span class="name" >Font Style</span><br>
    <input type="text" class="headline" [(ngModel)]="variable.fontStyle"><br>
  </div>
</div>
